In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [3]:
print(df.columns)
print(df.shape)
print(df.head())
#Observations refer to the individual rows in a dataset.
#Variables are the columns in a dataset.

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')
(391, 11)
   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [6]:
# Summary of the DataFrame
print("DataFrame Overview:")
print(df.info())

# Descriptive statistics for numeric columns
print("\nDescriptive Statistics for Numeric Columns:")
print(df.describe())

# Descriptive statistics for non-numeric columns
print("\nDescriptive Statistics for Non-Numeric Columns:")
print(df.describe(include=['object']))

# Number of unique values in each column
print("\nNumber of Unique Values in Each Column:")
print(df.nunique())

# Number of missing values in each column
print("\nNumber of Missing Values in Each Column:")
print(df.isnull().sum())

print(df.describe())

print(df['species'].value_counts())

DataFrame Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

Descriptive Statistics for Numeric Columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Descriptive Statistics for Non-Numeric Columns:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

Number of Unique Values in Each Column:
row_n          391
id             390
name           391
gender           2
species         35
birthday       361
personality      8
song            92
phrase         388
full_id        391
url            391
dtype: int64

Number of Missing Values in Each Column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

In [ ]:
#An attribute is a value or property associated with an object.
#A method is a function that is associated with an object.

#Summary of Interactions:

#Dataset Columns and Size:

#User wanted to know the columns and size of the dataset from the link provided #(https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv). We discussed how to use df.columns #to get the column names and df.shape to determine the dataset size (number of rows and columns).
#Differences Between df.shape and df.describe():

#We explored the discrepancies between df.shape and df.describe():
#df.shape gives the total number of rows and columns.
#df.describe() provides descriptive statistics only for numeric columns and excludes non-numeric columns.
#The count in df.describe() reflects non-null values, which may be less than the total number of rows if there are missing values.
#Simple Summaries Using df.describe() and df['column'].value_counts():

#We discussed how to generate summaries:
#df.describe() provides descriptive statistics for numeric columns.
#df['column'].value_counts() provides the frequency count of values in a specific column.
#Error Handling and Code Example:

#An error was encountered (NameError: name 'data' is not defined) because the variable data was not defined. We discussed ensuring data is #properly loaded before using methods like describe().
#Attributes vs. Methods:

#We clarified the difference between attributes and methods:
#Attributes (e.g., df.shape): Provide information about the object, accessed without parentheses.
#Methods (e.g., df.describe()): Perform operations or computations, accessed with parentheses.

In [ ]:
#post：6 - 9

In [ ]:
#6

#count: The number of non-null (non-missing) values in the column. It shows how many valid data points are present in the column, excluding any missing data (e.g., NaN values).

#mean: The average of the non-null values in the column, calculated as the sum of the values divided by the number of non-null values. This is a measure of central tendency.

#std (standard deviation): A measure of the spread of the data, indicating how much the values deviate from the mean on average. A higher standard deviation means the values are more spread out from the mean.

#min: The smallest non-null value in the column.

#25% (25th percentile): Also known as the first quartile, this is the value below which 25% of the data points fall. It's a measure of the distribution of the lower end of the data.

#50% (50th percentile or median): The median is the middle value of the data when it is sorted. It represents the value below which 50% of the data points fall.

#75% (75th percentile): Also known as the third quartile, this is the value below which 75% of the data points fall. It provides insight into the upper portion of the data distribution.

#max: The largest non-null value in the column.

In [2]:
#7

#Assuming you have a dataset containing a large amount of customer information. And most of the customer's name, contact information, and other details are recorded, with only a few lines lacking data as age.

#Assuming you have a dataset containing a large amount of customer information, the feedback column is missing a significant amount of data and its importance is not high

#The columns of a dataset are usually more important because deleting rows only reduces the amount of data, but deleting columns can weaken the diversity of the dataset.

import pandas as pd
import numpy as np

# Create a dataset with missing values
data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Desktop'],
    'Price': [1000, 500, np.nan, 800],
    'Stock': [50, np.nan, 30, 15],
    'Reviews': [np.nan, np.nan, np.nan, np.nan]
}

# Create DataFrame
df = pd.DataFrame(data)
print("Before cleaning:")
print(df)

# Delete the 'Reviews' column which is entirely missing
del df['Reviews']

# Remove rows with missing values
df.dropna(inplace=True)

print("After cleaning:")
print(df)

Before cleaning:
      Product   Price  Stock  Reviews
0      Laptop  1000.0   50.0      NaN
1      Tablet   500.0    NaN      NaN
2  Smartphone     NaN   30.0      NaN
3     Desktop   800.0   15.0      NaN
After cleaning:
   Product   Price  Stock
0   Laptop  1000.0   50.0
3  Desktop   800.0   15.0

In [ ]:
#8

#1
import pandas as pd

url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

result = df.groupby("class")["age"].describe()
print(result)

#2
#df.describe() provides counts for all non-null values in each column of the entire DataFrame.While df.groupby("col1")["col2"].describe() counts non-null values within each group of col1, so counts can vary by group if some groups have more missing data.

#3
#on chatGPT

In [ ]:
#9
#Need more practise.Although the initial unfamiliarity with the new hub made learning very painful, after persevering, one can feel the professor's careful preparation of the learning materials